@page "/tutorial"
@rendermode InteractiveServer
@inject NavigationManager navigationManager

<MudContainer>
    <MudGrid Justify="Justify.SpaceEvenly">
        <MudItem xs="12">
            <MudCarousel Class="mud-width-full" Style="height:500px;" ShowArrows="true" AutoCycle="false" TData="object">
                <MudCarouselItem Transition="transition">
                    <div class="d-flex flex-column flex-column py-8" style="height:100%">
                        <MudImage Src="images/tutorial-0.png"/>
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="transition">
                    <div class="d-flex flex-column flex-column py-8" style="height:100%">
                        <MudImage Src="images/tutorial-1.png" />
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="transition">
                    <div class="d-flex flex-column flex-column py-8" style="height:100%">
                        <MudImage Src="images/tutorial-2.png" />
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="transition">
                    <div class="d-flex flex-column flex-column py-8" style="height:100%">
                        <MudImage Src="images/tutorial-3.png" />
                    </div>
                </MudCarouselItem>
            </MudCarousel>
        </MudItem>
        <MudItem xs="12">
            <MudButton ButtonType="ButtonType.Button" StartIcon="@Icons.Material.Filled.CancelPresentation" OnClick="@CloseTutorial" 
                Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">
                Close Tutorial
            </MudButton>
        </MudItem>
    </MudGrid>
</MudContainer>

@code{
    private Transition transition = Transition.None;

    protected override void OnInitialized()
    {
        RookieDriverContext.InTutorial = true;
    }

    public void CloseTutorial()
    {
        RookieDriverContext.InTutorial = false;

        if(RookieDriverContext.IsUserLoggedIn)
            navigationManager.NavigateTo("/user", forceLoad: true);
        else
            navigationManager.NavigateTo("/", forceLoad: true);
    }
}